@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-bar {
  float: left;
  width: 100%;
  background-color: #374249;
  height: 2em;
}
.nav-bar .location {
  float: left;
  display: inline-block;
  height: 100%;
  background-color: #f75311;
  width: 15em;
  text-align: left;
}
.nav-bar .location a {
  display: inline-block;
  text-decoration: none;
  color: #f3f7f9;
  height: 100%;
  margin: 7px 70px;
}
.nav-bar .location a:hover {
  text-decoration: underline;
}
.nav-bar nav {
  float: left;
  height: 100%;
}
.nav-bar nav ul {
  list-style: none;
}
.nav-bar nav ul li {
  display: inline-block;
  margin: 7px 30px;
}
.nav-bar nav ul li a {
  color: #f3f7f9;
  text-decoration: none;
}
.nav-bar nav ul li a:hover {
  text-decoration: underline;
}

section {
  float: left;
  width: 100%;
}

footer {
  float: left;
  width: 100%;
}

.intro {
  background-image: url(../slike/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40em;
  width: 100%;
  text-align: center;
}
.intro .welcome {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 70%;
  top: 30em;
  margin: auto;
}
.intro .welcome h1 {
  color: #f3f7f9;
  font-size: 50px;
  text-align: center;
}
.intro .welcome h4 {
  color: #f3f7f9;
  text-align: center;
}

.details {
  width: 100%;
}
.details .details-container {
  width: 80%;
  margin: auto;
}
.details .details-container p {
  display: inline-block;
  border: 1px #797979 solid;
  border-radius: 20px;
  padding: 10px;
  float: right;
  margin: 20px;
  color: #797979;
}
.details .details-container p:hover {
  background-color: #374249;
  color: #f3f7f9;
}

.boxes {
  width: 100%;
  background-color: #f3f7f9;
  padding: 3em;
}
.boxes .box_container {
  width: 80%;
  margin: auto;
}
.boxes .box_container .box {
  display: inline-block;
  width: 22%;
  position: relative;
}
.boxes .box_container .box img {
  width: 100%;
  position: relative;
}
.boxes .box_container .box .transparent {
  display: none;
}
.boxes .box_container .box:hover .transparent {
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
}
.boxes .box_container .box:hover .transparent h5 {
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.boxes .box_container .box:hover .transparent p {
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
}

.pricing {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.pricing h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2em;
  font-weight: bold;
}
.pricing h5 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.pricing a {
  display: none;
}
.pricing .price_table {
  display: inline-block;
  margin-top: 1em;
  color: #374249;
}
.pricing .price_table table {
  border-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 4em;
}
.pricing .price_table table td {
  height: 30px;
  width: 150px;
}
.pricing .price_table table .highlight {
  background-color: #f75311;
  color: #f3f7f9;
}
.pricing .price_table table .dark {
  background-color: #374249;
  color: #f3f7f9;
  border-bottom: 1px #797979 solid;
  border-right: 1px #797979 solid;
}
.pricing .price_table table .visible {
  border-left: 0.5px #374249 solid;
  border-right: 0.5px #374249 solid;
  border-bottom: 0.5px #374249 solid;
}

.last {
  text-align: center;
  background-color: #f3f7f9;
  width: 100%;
}
.last h2 {
  text-align: center;
  margin: 2em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.last .last_container {
  width: 80%;
  margin: auto;
  height: 20em;
}
.last .last_container .map {
  float: left;
  width: 50%;
}
.last .last_container .contact_form {
  float: right;
  width: 50%;
}
.last .last_container .contact_form form {
  display: inline-block;
  width: auto;
  background-color: #f75311;
  padding: 0px;
  line-height: 2em;
}
.last .last_container .contact_form form .inline {
  display: inline;
  width: 45%;
  padding: 2px;
  margin: 5px;
}
.last .last_container .contact_form form textarea {
  width: 95%;
  border: none;
  padding: 4px;
  margin: 5px;
}
.last .last_container .contact_form form input[type=email] {
  width: 95%;
  padding: 2px;
  margin: 5px;
}

footer {
  background-color: #374249;
  text-align: center;
  color: #f3f7f9;
  padding: 10px;
}
footer span {
  color: #f75311;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .boxes .box_container .box {
    width: 47%;
    height: 15em;
    overflow: hidden;
    margin: 5px;
  }

  .last .last_container {
    width: 100%;
    height: 25em;
  }
  .last .last_container .map {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
  .last .last_container .map .mapouter {
    margin: auto;
  }
  .last .last_container .contact_form {
    margin-top: 1em;
    float: none;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .nav-bar {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .nav-bar .location {
    float: none;
    width: 100%;
  }
  .nav-bar nav {
    float: none;
    height: 100%;
  }
  .nav-bar nav ul li {
    display: block;
    margin: 2em;
  }

  .intro {
    background-image: none;
    min-height: 0;
    height: auto;
    margin: 0;
    float: none;
  }
  .intro .welcome {
    background-color: black;
    position: static;
    width: 100%;
    padding: 2em;
  }

  .details .details-container {
    width: 100%;
    text-align: center;
  }
  .details .details-container p {
    float: none;
  }

  .boxes .box_container .box {
    width: 100%;
    margin: 1em auto;
    height: 12em;
    overflow: hidden;
  }
  .boxes .box_container .box .transparent {
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
  }
  .boxes .box_container .box .transparent h5 {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .boxes .box_container .box .transparent p {
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
  }

  .pricing {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  .pricing a {
    display: inline-block;
    border: 1px #797979 solid;
    border-radius: 20px;
    text-decoration: none;
    color: #797979;
    padding: 10px;
    font-size: 10px;
    margin: 2em;
  }
  .pricing .price_table {
    display: none;
  }

  .last .last_container {
    width: 100%;
    height: 25em;
    margin: 5em auto;
  }
  .last .last_container .map {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
  .last .last_container .map .mapouter {
    margin: 1em auto;
  }
  .last .last_container .contact_form {
    margin-top: 1em;
    float: none;
    width: 90%;
    margin: auto;
  }
  .last .last_container .contact_form form .inline {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
