@mixin flex{
    display:flex;
    flex-wrap: wrap;
}

@mixin middleOfcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

@mixin placeholder{
    &::placeholder{
      color:green;
      padding-left:5px;
      font-family:$main-font;  
  }
  }

@mixin body-defaults{
    margin: 0;
    padding: 0;
}

@mixin nav-ul{
        &{
           ul{
              list-style-type: none;
              li{
                display: inline-block;
                a{
                text-decoration: none;
                 }
              }
             } 
          }
        }
