@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$main-font: 'Roboto', sans-serif;
$main-light: white;
$main-orange:#F75311;
$section-bkg: #F3F7F9;
$gray-drk:#374249;
$gray-lght:#909598;
$light:#EFF5F8;

