$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$Narandzasta: #f75311;
$Tamnoplava: #374249;
$Bojafonta: #797979;
$Naslovi: #374249;
$Svetlosiva1: #cfd1d3;
$Svetlosiva2: #f3f7f9;
