$highlight_color: #f75311;
$header_and_footer-color: #374249;
$font_color: #797979;
$title_color: #374249;

$button_hover_color: #cfd1d3;
$background_section: #f3f7f9;

$page_font: 'Roboto', sans-serif;