@import 'vars';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import 'vendor-mixins';


*{
 @include body-defaults;
 @include box-sizing(border-box);
 font-family: $main-font;
}
body{
    width: 100%;
}

header{
    width:100%;
    background-color: $gray-drk;
    height: 72px;
    .location{
        background-color: $main-orange;
        color:$main-light;
        float: left;
        overflow: hidden;
        text-decoration: underline;
        width:25vw;
        height:100%;
        font-size: 1.5em;
        @include middleOfcontainer;   
    }
    .menu{
        font-size: 1.5em;
        nav{
            @include nav-ul;
            ul{
                li{
                    padding: 20px;
                    color: $main-light;
                    a{
                        color:$main-light;
                    
                        &:hover{
                            color:$main-orange;
                        }
                    }
                }
            }  
        }
    }
}


.heading{
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:30vw;
    min-height: 300px;;
    width:100%;
    @include middleOfcontainer;
    .welcome{
        width:80%;
        background-color: $gray-drk;
        background-color: rgb(40, 51, 57, 0.4);
        border-radius: 10px;
        text-align: center;
        font-size: 1.5em;
        color: $main-light;
    }
}

.filters{
    background-color: $main-light;
    height:80px;
    width:100%;
    .btns{
        float:right;
       button{
           height:50px;
           width:120px;
           background-color:white;
           color:$gray-lght;
           border-radius: 30px;
           border: 1px solid $gray-lght;
           margin:20px;
       }
    }
}

.img-section{
    width:100%;
    background-color: #EFF5F8;
}
.img-container{
    width:90%;
    margin:auto;
   
}

.imgs{
    
    width:100%;
    margin:auto;
    @include flex;
    .img-with-hover{
        margin:20px;
        img{
            height:400px;
            width:280px;
            
        }
    }
}

.img-with-hover{
    position: relative;
    text-align: center;
    margin:auto;
    .hidden-txt{
        display: hidden;
        position: absolute;
        width:280px;
        height:180px;
        p{
            opacity: 0.01;
        }
        &:hover{
            display: block;
            width:280px;
            height:180px;
            background-color: rgb(205, 202, 202, 0.5);
            font-size: 30px;
            font-weight: bold; 
            p{
                opacity:1;
            }
        }  
  }
}



.pricing{
    text-align: center;
    h1{
        color: $gray-drk;
        font-size: 2em;
        font-weight: bold;
        padding:20px;   
    }
    p{
        color: $gray-drk;
        font-size: 1.5em;
        padding:20px;
    }
}
.table{
    padding-bottom: 100px;
}
table{
    margin:auto;
    border-collapse: collapse;
    td{
        padding:1.6vw 4.5vw;
        text-align: center;
        border: $gray-drk 1px solid; 
    }
}
.hidden-cel{
    border:none;
}

td[colspan], [rowspan]{
    background-color: $main-orange;
    color:white;
    border:none;
}

.tb{
    background-color: $gray-drk;
    color:white;
    border:none;
}

.hidden-btn{
    display: none;
}

.contact{
    margin:auto;
    padding:30px;
    background-color:$light;
    width:100%;
    @include clearfix;
    
    h1{
        text-align: center;
        font-size: 2em;
        padding:20px;
        color:$gray-drk;
    }
    iframe{
        width:300px;
        height:300px;
       
        
    }
}

.flex{
    @include flex;
}

form{
    
    background-color: $main-orange;
    margin:40px;

    #select{
        width: 30%;
        height:30px;
        margin:10px;
    }
    #name{
        width:60%;
        height:30px;
        margin:10px;
    }

    #email{
        height:30px;
        width:95%;
        margin:10px;
    }

    textarea{
        height:30%;
        width:95%;
        margin:10px;
    }
}

footer{
    background-color: $gray-drk;
    color:$main-light;
    text-align: center;
    height:30px;

    p{
        display:inline;
    }
    .owner{
        color: $main-orange;
    }
}

@media (max-width: 1024px) {
  
    .imgs{
        .img-with-hover{
            margin:0;
            img{
                height:300px;
                width:300px;
                margin:20px;
            }
        }
    }

    .flex{
        display:block;
        justify-content: center;
    }
    .map{
        @include middleOfcontainer;
    }
  }

  .filters{
    
    @include middleOfcontainer;
    
}

@media (max-width: 700px) { 

    header{
        width:100%;
        background-color: $gray-drk;
        height: 230px;
        .location{
            background-color: $main-orange;
            color:$main-light;
            overflow: hidden;
            text-decoration: underline;
            width:100%;
            height:20%;
            font-size: 1.5em;
            display: block;
            justify-content: left;
            align-items: left;
        }
        .menu{
            font-size: 1.5em;
            nav{
                @include nav-ul;
                ul{
                    text-align: center;
                    li{
                        display: block;
                        padding: 10px;
                        color: $main-light;
                        a{
                            color:$main-light;
                        
                            &:hover{
                                color:$main-orange;
                            }
                        }
                    }
                }  
            }
        }
    }
  

.filters{
    background-color: $main-light;
    height:80px;
    width:100%;
    @include middleOfcontainer;
    .btns{
        float: none;
       button{
           height:30px;
           width:82px;
           font-size: 12px;
           background-color:white;
           color:$gray-lght;
           border-radius: 30px;
           border: 1px solid $gray-lght;
           margin:20px;
       }
    }
}

table{
    display: none;
}

.hidden-btn{
    display: block;
    margin:auto;
    height:50px;
    width:120px;
    background-color:white;
    color:$gray-lght;
    border-radius: 30px;
    border: 1px solid $gray-lght;
    

}


.img-with-hover{
    position: relative;
    text-align: center;

    .hidden-txt{
            display: block;
            width:300px;
            height:100px;
            background-color: rgb(205, 202, 202, 0.7);
            font-size: 30px;
            font-weight: bold; 
            p{
                opacity:1;
            }
        }  
  
}

.imgs{
        .img-with-hover{
           margin:auto;
            img{
                height:300px;
                width:300px;
                margin:0px;
            }
        }
    }


.heading{
        background-image: none;
        background-color:black;
        background-size: 100%;
        height:300px;
        width:100%;
        @include middleOfcontainer;
    }


}

  
    
