@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import 'mixins';
@import 'vars';

@include start;

.nav-bar{
    float: left;
    width: 100%;
    background-color: $header_and_footer-color;
    height: 2em;

    .location{
        float: left;
        display: inline-block;
        height: 100%;
        background-color: $highlight_color;
        width: 15em;
        text-align: left;
        
        
        a{
            display: inline-block;
            text-decoration: none;
            color: $background_section;
            height: 100%;
            margin: 7px 70px;

            &:hover{
                text-decoration: underline;
            }
            
        }
    }

    nav{
        float: left;
        height: 100%;
        ul{
            list-style: none;

            li{
                display: inline-block;
                margin: 7px 30px;

                a{
                    color:$background_section;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

section{
    float: left;
    width: 100%;
}

footer{
    float: left;
    width: 100%;
}

.intro{
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40em;
    width: 100%;
    text-align: center;

    .welcome{
        display: inline-block;
        background-color: rgb(0, 0, 0, .4);
        position: relative;
        width: 70%;
        top: 30em;
        margin: auto;
        

        h1{
            color: $background_section;
            font-size: 50px;
            text-align: center;
        }
        h4{
            color: $background_section;
            text-align: center;
        }
    }
}

.details{
    width: 100%;

    .details-container{
        width: 80%;
        margin: auto;
    p{
        display: inline-block;
        border: 1px $font_color solid;
        border-radius: 20px;
        padding: 10px;
        float: right;
        margin: 20px;
        color: $font_color;

        &:hover{
            background-color: $header_and_footer-color;
            color: $background_section;
        }
        }
    }
}

.boxes{
    width: 100%;
    background-color: $background_section;
    padding: 3em;

    .box_container{
        width: 80%;
        margin: auto;

        .box{
            display: inline-block;
            width: 22%;
            position: relative;

            img{
                width: 100%;
                position: relative;
                
            }

            .transparent{
                display: none;

            }

            &:hover{
                .transparent{
                    display: inline-block;
                    position: absolute;
                    background-color: rgb(255, 255, 255, 0.4);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 40%;
                    
                    h5{
                        text-align: left;
                        font-size: 20px;
                        margin-top: 20px;
                        margin-left: 10px;
                    }
                    p{
                        text-align: left;
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.pricing{
    text-align: center;
    font-family: $page_font;
    
    h2{
        text-align: center;
        text-transform: uppercase;
        margin-top: 2em;
        font-weight: bold;
    }
    h5{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    a{
        display: none;
    }
    .price_table{
        display: inline-block;
        margin-top: 1em;
        color: $header_and_footer-color;

        table{
            border-spacing: 0;
            font-family: $page_font;
            font-weight: bold;
            margin-bottom: 4em;
        

        td{
            height: 30px;
            width: 150px;
        }

        .highlight{
            background-color: $highlight_color;
            color: $background_section;
            
        }
        .dark{
            background-color: $header_and_footer-color;
            color: $background_section;
            border-bottom: 1px $font_color solid;
            border-right: 1px $font_color solid ;
        }
        .visible{
            border-left: 0.5px $header_and_footer-color solid;
            border-right: .5px $header_and_footer-color solid;
            border-bottom: .5px $header_and_footer-color solid;
        }
            
        }
    }
}

.last{
    text-align: center;
    background-color: $background_section;
    width: 100%;
    h2{
        text-align: center;
        margin: 2em;
        text-transform: uppercase;
        font-family: $page_font;
        font-weight: bold;
    }

    .last_container{
        width: 80%;
        margin: auto;
        height: 20em;
    .map{
      float: left;
      width: 50%;
      
        
    }
    .contact_form{
        float: right;
        width: 50%;
        form{
            display: inline-block;
            width: auto;
            background-color: $highlight_color;
            padding: 0px;
            line-height: 2em;

            .inline{
                display: inline;
                width: 45%;
                padding: 2px;
                margin: 5px;
            }
           
           textarea{
               width: 95%;
               border:none;
               padding: 4px;
               margin: 5px;
           }
           input[type="email"]{
               width: 95%;
               padding: 2px;
               margin: 5px;

                 }
            }
        }
    }
}

footer{
    background-color: $header_and_footer-color;
    text-align: center;
    color: $background_section;
    padding: 10px;

    span{
       color: $highlight_color;
    }
}

@include tablet{
    .boxes{
    
        .box_container{

            .box{
                width: 47%;
                height: 15em;
                overflow: hidden;
                margin: 5px;
            }
        }
    } 
    
    .last{
        
        .last_container{
            width: 100%;
            height: 25em;
            
        .map{
          float: none;
          width: 100%;
          margin-top: 1em;

          .mapouter{
              margin: auto;
          }
        }
        .contact_form{
            margin-top: 1em;
            float: none;
            width: 100%;
            
            }
        }
    }
}

@include phone{

 .nav-bar{
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    
        .location{
            float: none;
            width: 100%;
            
        }
    
        nav{
            float: none;
            height: 100%;
            ul{    
                li{
                    display: block;
                    margin:2em;
                    }
                }
            }
    }  



.intro{
        background-image: none;
        min-height: 0;
        height: auto;
        margin: 0;
        float: none;
        
        .welcome{
            background-color: rgb(0, 0, 0, 1);
            position: static;
            
            width: 100%;
            padding: 2em;
        
        }
    }

.details{
        
        .details-container{
            width: 100%;
            text-align: center;

            p{ 
            float: none;
            }
        }
    }

.boxes{
        
        .box_container{
            
            .box{
                
                width: 100%;
                margin: 1em auto;
                height: 12em;
                overflow: hidden;
    
                .transparent{
                    display: inline-block;
                    position: absolute;
                    background-color: rgb(255, 255, 255, 0.4);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 40%;
                    
                    h5{
                        text-align: left;
                        font-size: 20px;
                        margin-top: 20px;
                        margin-left: 10px;
                    }
                    p{
                        text-align: left;
                        font-size: 20px;
                        margin-left: 10px;
                    
                    }
                }  
            }
        }
    }

    .pricing{
        text-align: center;
        font-family: $page_font;
        
        
        a{
            display: inline-block;
            border: 1px $font_color  solid;
            border-radius: 20px;
            text-decoration: none;
            color: $font_color;
            padding: 10px;
            font-size: 10px;
            margin: 2em;  
        }
        .price_table{
            display: none;
        }
    }

    .last{
        
        .last_container{
            width: 100%;
            height: 25em;
            margin: 5em auto;
            
        .map{
          float: none;
          width: 100%;
          margin-top: 1em;

          .mapouter{
              margin: 1em auto;
          }
        }
        .contact_form{
            margin-top: 1em;
            float: none;
            width: 90%;
            margin: auto;

            form{
                .inline{
                    width: 95%;
                }
            }
            
            }
        }
    }

}