@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

header {
    height: 80px;
    background-color: $header-color;
    display: flex;

    .city {
        background-color: $city-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 100px;
        img {
            width: 50px;
            height: 50px;
        }
        a {
            color: $header-text-color;
        }
    }
    nav {
        display: flex;
        align-items: center;
        a {
            display: inline-block;
            text-decoration: none;
            margin: 40px;
            color: $header-text-color;
            
            &:hover {
                text-decoration: underline;
            }
            
        }
    }
}
.welcome {
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .title {
        background-color: $title-background;
        padding: 10px 100px;
        margin-bottom: 100px;
        color: $header-text-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}